@using System.Text.Json.Nodes;
@model IEnumerable<Dictionary<string, object>>

@foreach (Dictionary<string, object> devices in Model)
{
    <h1>
       <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="DeviceData"
       asp-route-deviceName="@devices["Name"].ToString()">@devices["Name"].ToString()</a>
    </h1>
    <br />
}