@using System.Text.Json.Nodes;
@model IEnumerable<JsonObject>

@foreach (JsonObject devices in Model)
{
    <h1><a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="DeviceData">@devices["Name"].ToString()</a></h1>
    <br/>
}