@using System.Text.Json.Nodes;
@model IEnumerable<JsonObject>

@foreach (JsonObject devices in Model)
{
    @if(devices["Name"] == null)
    {
        <h1>no table for you</h1>
    }
    else
    {
    <h1>@devices["Name"].ToString()</h1>
    }
    <br/>
}