@font-face {
    font-family: Epilogue;
    src: url(../font/Epilogue-VariableFont_wght.ttf);
}

body {
    font-family: Epilogue;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 10px 50px 0 50px;
}

/*Logo*/
.logo-container{
    display:flex;
    align-items:center;
}

.logo-text {
    margin: 0 0 0 10px;
    font-size: 1.45em;
}

.logo
{
    height: 50px;
    width: 50px;
}

/*nav-bar*/
.main-nav {
    margin: 0;
    padding: 0;
}

.main-nav div {
	padding: 10px 20px;
    text-transform: uppercase;
	text-align: center;
	display: block;
    color: #34495e;
	font-size: .99em;
    margin: 0 20px 0 20px;
    user-select: none;
    cursor: pointer;
    height: 100%;
}

.main-nav div:hover {
    color: #718daa;
    background-color: #fbfbfb;
    border-radius: 6px;
}

.header {
    padding: 7px 30px 7px 20px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 0px -2px gray;
}
.last {
    border: solid;
    border-radius: 5px;
}

/*extended-menu*/

.exteneded-menu {
    display: none;
    overflow: auto;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    background-color: #fbfbfb;
    box-shadow: 0 4px 0px -2px gray;
}

.exteneded-menu .image {
    margin-right: 70px;
}

.link-rows {
     display: flex;
     flex-direction: column;
     margin: 30px;
}

.exteneded-menu .line {
    width: 100%;
}

.link-rows li
{
    font-size: 20px;
}

.exteneded-menu .title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

/*media*/
@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 1025px) {
    .logo-container {
        margin-bottom: 15px;
    }
}

@media (max-width: 769px) {
    .exteneded-menu {
        flex-direction: column;
        align-items: center;
    }
    .container
    {
        margin: 10px;
    }
    .last
    {
        border: none;
    }
    .exteneded-menu .image {
        margin-right: 0;
    }
}