@model WebApp.DataTransferObjects.DevicesDataTransferObject

@{
    ViewData["Title"] = "Devices";
}

@foreach(string name in Model.DeviceNames)
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Devices" asp-action="DeviceData" asp-route-deviceName="@name">@name</a>
    <hr/>
}
