<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IOT_Home_Security</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img class="logo" src="@Url.Content("~/images/img.png")" />
            <h1 class="logo-text"><a href="#">Flexbox</a></h1>
        </div>
        <div class="main-nav">
            <div>Home</div>
            <div>About</div>
            <div>Portf</div>
            <div>Test</div>
        </div>
        <div class="last">Contact</div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
