<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IOT_Home_Security</title>
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img class="logo" src="@Url.Content("~/images/img.png")" />
            <h1 class="logo-text"><a href="#">HomeSecuriry</a></h1>
        </div>
        <div class="main-nav">
            <div onmouseover="homeButtonHover()" onmouseout="removeDropdown()">Home</div>
            <div onclick="aboutButtonClick()">About</div>
            <div onclick="portButtonClick()">Port</div>
            <div onclick="testButtonClick()">Test</div>
            <div class="last">Log In</div>
        </div>
    </header>

    <div class="exteneded-menu">
        
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
