@{
    ViewData["Title"] = "Home Page";
}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">IOTHomeSecurity</h1>
            <p>Welcome to the future of home security and automation! Our website is the ultimate solution for homeowners who demand the highest level of protection and style. Our cutting-edge platform brings together the latest technology, sleek design, and user-friendly interface to transform your home into a modern and secure haven.</p>
            <hr />
            <a class="btn btn-primary" href="#!">Join Us</a>
        </div>

        <div class="col-lg-7"><img src=@Url.Content("~/img/example-3.png") class="img-fluid" style="height: 350px;width: 550px;margin: 25px 25px 25px 60px" /></div>
    </div>
    <h1>Advantages</h1>
    <hr />
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Security</h2>
                    <p class="card-text">From smart locks and lighting systems to advanced home monitoring, we offer a comprehensive range of products that integrate seamlessly to create a unified and sophisticated security system. Our technology is powered by the Internet of Things, allowing for effortless control and monitoring from anywhere in the world.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Availability</h2>
                    <p class="card-text">With real-time alerts and 24/7 monitoring, you can relax knowing that your home is always secure. Our platform offers a user-friendly interface that puts the power of protection in your hands, giving you peace of mind no matter where you are. Whether you're away on vacation, at work, or simply lounging on the couch, you can easily check on your home and make adjustments to your security settings with just a few taps on your smartphone.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Availability</h2>
                    <p class="card-text">In addition to security, our platform also offers an array of automation features to bring your home into the modern age. From voice-controlled lighting and heating to automatic window coverings and smart appliances, our platform allows you to control every aspect of your home with ease.</p>
                </div>
            </div>
        </div>
    </div>
</div>