@{
    ViewData["Title"] = "Home Page";
}
<div class="warper">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Лесен начин да управлявате дома си</h1>
                    <ul>
                        <li><i class="ri-check-line"></i> Наблюдение в реално време</li>
                        <li><i class="ri-check-line"></i> Изваждане на справки в конкретен времеви период</li>
                        <li><i class="ri-check-line"></i> Наблюдаване на здравните показатели</li>
                    </ul>
                    <div class="mt-3">
                        <a asp-controller="Authentication" asp-action="LogIn" class="btn-get-started scrollto">Започнете</a>
                        <a asp-controller="Home" asp-action="Privacy" class="btn-get-quote">Обща политика</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="~/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->
    <br />
    <br />
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6">
                    <h2>Направете революция във вашия IoT сигурност и мониторинг на здравето</h2>
                    <h3>Поддържайте вашите устройства защитени и вашето здраве под контрол, един модул наведнъж.</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        Интернет на нещата (IoT) донесе ново ниво на удобство в живота ни. Това обаче представлява и значителен риск за сигурността. С нашето модулно IoT решение за сигурност и наблюдение на здравето можете да сте спокойни, знаейки, че вашите устройства са защитени и вашето здраве се наблюдава.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Нашите модули са проектирани да пазят вашите устройства защитени, без значение какъв тип устройство използвате.</li>
                        <li><i class="ri-check-double-line"></i> Използваме най-новите протоколи за сигурност, за да гарантираме, че вашите данни са защитени от любопитни очи.</li>
                        <li><i class="ri-check-double-line"></i> Нашите модули за наблюдение на здравето ви помагат да следите вашите здравни показатели и ви предупреждават, ако има някакви притеснения.</li>
                    </ul>
                    <p class="fst-italic">
                        В основата си ние вярваме, че всеки трябва да може да се наслаждава на предимствата на IoT технологията, без да жертва сигурността или здравето си. Ето защо ние разработихме нашето модулно IoT решение за сигурност и наблюдение на здравето - за да ви помогнем да живеете живота си пълноценно, като същевременно сте в безопасност и здрави.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">

                <div class="col-lg-4">
                    <div class="box">
                        <span>01</span>
                        <h4>Модулен дизайн</h4>
                        <p>Нашето решение е проектирано с оглед на модулността, което ви позволява лесно да добавяте или премахвате модули за сигурност и наблюдение на здравето, ако е необходимо.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <span>02</span>
                        <h4>Пълна сигурност</h4>
                        <p>Ние приемаме сериозно IoT сигурността. Нашето решение използва най-новите протоколи за криптиране и удостоверяване, за да гарантира, че вашите устройства и данни са защитени от кибератаки.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <span>03</span>
                        <h4>Мониторинг на личното здраве</h4>
                        <p>Нашите модули за наблюдение на здравето проследяват вашите жизнени показатели и предоставят представа за вашето здраве. Можете да използвате тази информация, за да вземете информирани решения относно вашия начин на живот и благополучие.</p>
                    </div>
                </div>

            </div>


        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Услуги</h2>
            </div>

            <div class="row">
                <div class="content col-xl-5 d-flex flex-column justify-content-center">
                    <img src="~/img/services.png" class="img-fluid" alt="">
                </div>
                <div class="col-xl-7">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box iconbox-blue">
                                    <div class="icon">
                                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                                        </svg>
                                        <i class="ri-lock-line"></i>
                                    </div>
                                    <h4><a href="">Различни нива на достъп</a></h4>
                                    <p>Възможност за ограничаване на достъп до определени устройства</p>
                                </div>
                            </div>

                            <div class="col-lg-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                                <div class="icon-box iconbox-orange ">
                                    <div class="icon">
                                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                                        </svg>
                                        <i class="ri-timer-line"></i>
                                    </div>
                                    <h4><a href="">Наблюдение в реално време</a></h4>
                                    <p>Възможност да се наблюдават данните взети от устройствата</p>
                                </div>
                            </div>

                            <div class="col-lg-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                                <div class="icon-box iconbox-pink">
                                    <div class="icon">
                                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                                        </svg>

                                        <i class="ri-spy-line"></i>
                                    </div>
                                    <h4><a href="">Сигурен начин да управлявате дома си</a></h4>
                                    <p>Сигурен начин да управлявате дома си без притеснения или възможност за кибер атаки</p>
                                </div>
                            </div>

                            <div class="col-lg-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                                <div class="icon-box iconbox-teal">
                                    <div class="icon">
                                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                                        </svg>

                                        <i class="ri-cloud-line"></i>
                                    </div>
                                    <h4><a href="">Голям обем от данни</a></h4>
                                    <p>Възможност за четене на гол1м обем от данни</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                        Какво е модулно приложение за интернет на нещата (IoT) за модернизиране на домашната сигурност и мониторинг на здравето?
                        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Модулното IoT приложение е адаптивна и мащабируема система, която позволява на собствениците на жилища да модернизират своята домашна сигурност и да наблюдават здравето си чрез свързани устройства. Тези устройства могат да се добавят или премахват според нуждите, а приложението може да бъде персонализирано, за да отговаря на специфичните нужди на собственика на дома.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
                        Какви типове устройства обикновено се използват в модулно IoT приложение за домашна сигурност и наблюдение на здравето?
                        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Устройствата, използвани в модулно IoT приложение за домашна сигурност и наблюдение на здравето, могат да включват интелигентни ключалки, охранителни камери, сензори за движение, интелигентни термостати, детектори за дим и въглероден окис, монитори за кръвно налягане и фитнес тракери.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
                        Как работи модулно IoT приложение за домашна сигурност и мониторинг на здравето?
                        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Модулното IoT приложение работи чрез свързване на различни устройства в дома към централен хъб или контролен панел, който след това се свързва с интернет. Собствениците на жилища могат да осъществяват достъп и да контролират своите устройства от разстояние чрез приложение за смартфон или уеб интерфейс, да получават предупреждения, когато дадено устройство се задейства, и да наблюдават своите здравни данни в реално време.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
                        Какви са ползите от използването на модулно IoT приложение за домашна сигурност и мониторинг на здравето?
                        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Ползите от използването на модулно IoT приложение за домашна сигурност и наблюдение на здравето включват повишено удобство, подобрена безопасност и сигурност, подобрена енергийна ефективност и по-добро управление на здравето.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
                        Колко сигурно е едно модулно IoT приложение за домашна сигурност и наблюдение на здравето?
                        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Сигурността е основен приоритет в модулно IoT приложение за домашна сигурност и наблюдение на здравето. Устройствата и данните са защитени с криптиране и приложението се актуализира редовно, за да се справи с евентуални уязвимости.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
                        Доколко може да се персонализира едно модулно IoT приложение за домашна сигурност и наблюдение на здравето?
                        <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Модулно IoT приложение за домашна сигурност и наблюдение на здравето е много адаптивно, тъй като собствениците на жилища могат да избират кои устройства да добавят или премахват въз основа на техните специфични нужди. Приложението може също да бъде персонализирано според предпочитанията и графика на потребителя.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section><!-- End Frequently Asked Questions Section -->


    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Свържете се с нас</h2>
            </div>

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Нашият адрес</h3>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-envelope"></i>
                                <h3>Изпратете ни имайл</h3>
                                <p>info@example.com<br>contact@example.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-phone-call"></i>
                                <h3>Свърьете се с нас</h3>
                                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <form role="form" class="email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Изпратете съобщение</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
    <section id="footer" class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>IoTSecurity</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Телефон:</strong> +1 5589 55488 55<br>
                            <strong>Имейл:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Полезни хипер връзки</h4>
                        <ul>
                            <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index">Начална страница</a></li>
                            <li><a class="nav-link scrollto" href="#about">За приложението</a></li>
                            <li><a class="nav-link scrollto" href="#services">Услуги</a></li>
                            <li><a class="nav-link scrollto" href="#contact">Свържете се с нас</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Присъединете се към нашата новинарна брошура</h4>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Абониране">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>