@{
    ViewData["Title"] = "Home Page";
}
@model CurrentUserModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Id Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
