@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At IOTHomeSecurity, we are committed to protecting the privacy and security of our users. This Privacy Policy outlines the types of information we collect, how it is used, and the steps we take to ensure it is protected.</p>

<h2>Information Collection and Use</h2>


<p>We collect information from our users in several ways, including through registration forms, order forms, and other interactive features on our website. This information may include personal information such as your name, address, email address, and telephone number, as well as information about your home and your use of our products and services.</p>

<p>We use this information to provide you with the products and services you have requested, to improve the quality of our website and products, and to communicate with you about your account and the status of your orders. We may also use your information to send you marketing communications, but only if you have agreed to receive such communications.</p>

<h2>
    Data Security
</h2>

<p>
    We take the security of your information very seriously and have implemented measures to protect against unauthorized access, alteration, disclosure, or destruction of your information. We use encryption technologies, secure servers, and firewalls to help protect the information we collect.
</p>

<p>However, no data transmission over the internet can be guaranteed to be 100% secure, and we cannot guarantee the security of your information. As a result, we cannot guarantee or warrant the security of any information you transmit to us or receive from us. You transmit all such information at your own risk.</p>

<h2>
    Third-Party Service Providers
</h2>

<p>
    We may use third-party service providers to help us operate our website and deliver our products and services. These service providers may have access to your information in order to perform their functions, but they are required to maintain the confidentiality of your information and are prohibited from using it for any other purpose.
</p>

<h2>
    Changes to this Privacy Policy
</h2>

<p>
    We may revise this Privacy Policy from time to time to reflect changes in our practices or the law. Any changes we make will be effective immediately upon posting on our website. By continuing to use our website or products and services after the changes are posted, you agree to be bound by the revised Privacy Policy.
</p>

<h2>
    Contact Us
</h2>

<p>If you have any questions about this Privacy Policy or our privacy practices, please contact us at kddinev18@codingburgas.bg.</p>
