@using System.Text.Json.Nodes;
@using WebApp.Controllers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"/>
    <link rel="stylesheet" href="~/css/remixicon.css" />
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a asp-controller="Home" asp-action="Index">IoTSecurity</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    @*@try
                    {
                        @if (TempDataExtensions.Get<LoggedUserInformation>(TempData, "LoggedUserInformation").GlobalServer == true)
                        {
                            <li class="dropdown">
                                <a href="#" class="getstarted scrollto" ><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#">Devices</a></li>
                                    <li><a asp-controller="Authentication" asp-action="SignOut">Sign out</a></li>
                                    @if (TempDataExtensions.Get<LoggedUserInformation>(TempData, "LoggedUserInformation").LocalServer == true)
                                    {
                                        <li><a asp-controller="Authentication" asp-action="LocalSerevrSignOut">Local Server Sign Out</a></li>

                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a class="getstarted scrollto" asp-controller="Authentication" asp-action="LogIn">Get Started</a></li>
                        }
                    }
                    catch(Exception)
                    {
                        <li><a class="getstarted scrollto" asp-controller="Authentication" asp-action="LogIn">Get Started</a></li>
                    }*@
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <div class="container">
        <main role="main" class="d-flex">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
