:root {
    --font-color: #444444;
    --link-color: #5a5af3;
    --link-hover-color: #2a2af0;
    --nav-link-focus: #434175;
    --pure-white: #fff;
    --soft-white: #eeeef5;
    --soft-gray: #b9b9fa;
    --pure-gray: #aaaaaa;
    --back-to-top-bg: #8080f6;
    --dark-blue: #0c0ca8;
    --nav-button: #7272f5;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

    a:hover {
        color: var(--link-hover-color);
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--link-color);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

    .back-to-top i {
        font-size: 24px;
        color: var(--pure-white);
        line-height: 0;
    }

    .back-to-top:hover {
        background: var(--back-to-top-bg);
        color: var(--pure-white);
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    background: var(--pure-white);
}

    #header.header-scrolled,
    #header.header-inner-pages {
        padding: 12px 0;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }

    #header .logo {
        font-size: 32px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 2px;
        font-family: "Poppins", sans-serif;
    }

        #header .logo a {
            color: var(--link-color);
        }

        #header .logo img {
            max-height: 40px;
        }

@media (max-width: 992px) {
    #header {
        padding: 12px 0;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 15px;
        color: var(--nav-link-focus);
        white-space: nowrap;
        transition: 0.3s;
    }

        .navbar a i,
        .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

        .navbar a:hover,
        .navbar .active,
        .navbar .active:focus,
        .navbar li:hover > a {
            color: var(--link-color);
        }

    .navbar .getstarted,
    .navbar .getstarted:focus {
        padding: 6px 25px;
        margin-left: 30px;
        border-radius: 50px;
        color: var(--link-color);
        border: 2px solid var(--link-color);
    }

        .navbar .getstarted:hover,
        .navbar .getstarted:focus:hover {
            color: var(--pure-white);
            background: var(--nav-button);
        }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: var(--pure-white);
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

        .navbar .dropdown ul li {
            min-width: 200px;
        }

        .navbar .dropdown ul a {
            padding: 10px 20px;
            font-size: 15px;
            text-transform: none;
        }

            .navbar .dropdown ul a i {
                font-size: 12px;
            }

            .navbar .dropdown ul a:hover,
            .navbar .dropdown ul .active:hover,
            .navbar .dropdown ul li:hover > a {
                color: var(--link-color);
            }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: var(--nav-link-focus);
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

    .mobile-nav-toggle.bi-x {
        color: var(--pure-white);
    }

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(48, 47, 84, 0.9);
    transition: 0.3s;
}

    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .navbar-mobile ul {
        display: block;
        position: absolute;
        top: 55px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        padding: 10px 0;
        border-radius: 10px;
        background-color: var(--pure-white);
        overflow-y: auto;
        transition: 0.3s;
    }

    .navbar-mobile a,
    .navbar-mobile a:focus {
        padding: 10px 20px;
        font-size: 15px;
        color: var(--nav-link-focus);
    }

        .navbar-mobile a:hover,
        .navbar-mobile .active,
        .navbar-mobile li:hover > a {
            color: var(--link-color);
        }

    .navbar-mobile .getstarted,
    .navbar-mobile .getstarted:focus {
        margin: 15px;
    }

    .navbar-mobile .dropdown ul {
        position: static;
        display: none;
        margin: 10px 20px;
        padding: 10px 0;
        z-index: 99;
        opacity: 1;
        visibility: visible;
        background: var(--pure-white);
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }

        .navbar-mobile .dropdown ul li {
            min-width: 200px;
        }

        .navbar-mobile .dropdown ul a {
            padding: 10px 20px;
        }

            .navbar-mobile .dropdown ul a i {
                font-size: 12px;
            }

            .navbar-mobile .dropdown ul a:hover,
            .navbar-mobile .dropdown ul .active:hover,
            .navbar-mobile .dropdown ul li:hover > a {
                color: var(--link-color);
            }

    .navbar-mobile .dropdown > .dropdown-active {
        display: block;
    }






/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: var(--pure-white);
    border-bottom: 2px solid var(--pure-white);
}

    #hero .container {
        padding-top: 80px;
    }

    #hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        color: var(--nav-link-focus);
        font-family: "Poppins", sans-serif;
    }

    #hero h2 {
        margin: 10px 0 0 0;
        font-size: 20px;
    }

    #hero ul {
        margin-top: 15px;
        list-style: none;
        padding: 0;
    }

        #hero ul li {
            padding: 10px 0 0 28px;
            position: relative;
        }

        #hero ul i {
            left: 0;
            top: 7px;
            position: absolute;
            font-size: 20px;
            color: var(--link-color);
        }

    #hero .btn-get-started,
    #hero .btn-get-quote {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.5px;
        display: inline-block;
        padding: 8px 30px 9px 30px;
        margin-bottom: 15px;
        border-radius: 3px;
        transition: 0.5s;
        border-radius: 50px;
    }

    #hero .btn-get-started {
        background: var(--link-color);
        color: var(--pure-white);
        border: 2px solid var(--link-color);
        margin-right: 10px;
    }

        #hero .btn-get-started:hover {
            background: var(--nav-button);
            border-color: var(--nav-button);
        }

    #hero .btn-get-quote {
        color: var(--link-color);
        border: 2px solid var(--link-color);
    }

        #hero .btn-get-quote:hover {
            background: var(--link-color);
            color: var(--pure-white);
        }

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero .hero-img {
        text-align: center;
    }

        #hero .hero-img img {
            width: 50%;
        }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero {
        text-align: center;
    }

        #hero ul {
            text-align: left;
            font-size: 14px;
        }

        #hero .hero-img img {
            width: 80%;
        }

        #hero .btn-get-started,
        #hero .btn-get-quote {
            padding-left: 18px;
            padding-right: 18px;
            font-size: 14px;
        }
}



section {
    padding: 60px 0;
}

.section-bg {
    background-color: var(--soft-white);
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: var(--nav-link-focus);
    }

        .section-title h2::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: var(--link-color);
            bottom: 0;
            left: calc(50% - 25px);
        }

    .section-title p {
        margin-bottom: 0;
    }

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
.about .content h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    margin-bottom: 20px;
    color: var(--nav-link-focus);
}

.about .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

    .about .content ul li {
        padding: 10px 0 0 28px;
        position: relative;
    }

    .about .content ul i {
        left: 0;
        top: 7px;
        position: absolute;
        font-size: 20px;
        color: var(--link-color);
    }

.about .content p:last-child {
    margin-bottom: 0;
}




/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
    padding-top: 0;
}

    .why-us .box {
        padding: 50px 30px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        transition: all ease-in-out 0.3s;
    }

        .why-us .box span {
            display: block;
            font-size: 28px;
            font-weight: 700;
            color: var(--soft-gray);
        }

        .why-us .box h4 {
            font-size: 24px;
            font-weight: 600;
            padding: 0;
            margin: 20px 0;
            color: var(--nav-link-focus);
        }

        .why-us .box p {
            color: var(--pure-gray);
            font-size: 15px;
            margin: 0;
            padding: 0;
        }

        .why-us .box:hover {
            background: var(--link-color);
            padding: 30px 30px 70px 30px;
            box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
        }

            .why-us .box:hover span,
            .why-us .box:hover h4,
            .why-us .box:hover p {
                color: var(--pure-white);
            }






/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

    .services .icon-box .icon {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in-out 0.3s;
        position: relative;
    }

        .services .icon-box .icon i {
            font-size: 36px;
            transition: 0.5s;
            position: relative;
        }

        .services .icon-box .icon svg {
            position: absolute;
            top: 0;
            left: 0;
        }

            .services .icon-box .icon svg path {
                transition: 0.5s;
                fill: #f5f5f5;
            }

    .services .icon-box h4 {
        font-weight: 600;
        margin: 10px 0 15px 0;
        font-size: 22px;
    }

        .services .icon-box h4 a {
            color: #434175;
            transition: ease-in-out 0.3s;
        }

    .services .icon-box p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

    .services .icon-box:hover {
        border-color: #fff;
        box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
    }

.services .iconbox-blue i {
    color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
    color: #fff;
}

.services .iconbox-blue:hover .icon path {
    fill: #47aeff;
}

.services .iconbox-orange i {
    color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
    color: #fff;
}

.services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
}

.services .iconbox-pink i {
    color: #e80368;
}

.services .iconbox-pink:hover .icon i {
    color: #fff;
}

.services .iconbox-pink:hover .icon path {
    fill: #e80368;
}

.services .iconbox-teal i {
    color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
    color: #fff;
}

.services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
}






/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
    padding-top: 0;
}

    .features .icon-box {
        display: flex;
        align-items: center;
        padding: 20px;
        transition: ease-in-out 0.3s;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }

        .features .icon-box i {
            font-size: 32px;
            padding-right: 10px;
            line-height: 1;
        }

        .features .icon-box h3 {
            font-weight: 700;
            margin: 0;
            padding: 0;
            line-height: 1;
            font-size: 16px;
        }

            .features .icon-box h3 a {
                color: #434175;
                transition: ease-in-out 0.3s;
            }

        .features .icon-box:hover h3 a {
            color: #5a5af3;
        }






/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
    padding: 60px 0;
}

    .faq .faq-list {
        padding: 0;
        list-style: none;
    }

        .faq .faq-list li {
            border-bottom: 1px solid #f2f2fe;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        .faq .faq-list .question {
            display: block;
            position: relative;
            font-family: var(--link-color);
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            padding-left: 25px;
            cursor: pointer;
            color: var(--question-color);
            transition: 0.3s;
        }

        .faq .faq-list i {
            font-size: 16px;
            position: absolute;
            left: 0;
            top: -2px;
        }

        .faq .faq-list p {
            margin-bottom: 0;
            padding: 10px 0 0 25px;
        }

        .faq .faq-list .icon-show {
            display: none;
        }

        .faq .faq-list .collapsed {
            color: black;
        }

            .faq .faq-list .collapsed:hover {
                color: var(--link-color);
            }

            .faq .faq-list .collapsed .icon-show {
                display: inline-block;
                transition: 0.6s;
            }

            .faq .faq-list .collapsed .icon-close {
                display: none;
                transition: 0.6s;
            }
